*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    width: 30%;
    margin: 0 auto;
}

header{
    text-align: center;
    font-size: 200%;
}

table{
    border: 1px solid #333;
    margin: 0 auto;
    width: 100%;
}

tr{
    text-align: center;
}

td{
    border: 1px solid #333;
}

