.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-areas:
    'logo header'
    'article aside'
    'footer footer';
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

#logo {
  background: #d49292;
  grid-area: logo;
  border: 10px solid #3d94ce;
}

header {
  background: #e6c8c8;
  grid-area: header;
  border-bottom: 10px solid #3d94ce;
  border-right: 10px solid #3d94ce;
  border-top: 10px solid #3d94ce;
}

.article {
  background: #8a1a8a;
  grid-area: article;
  border: 10px solid #07462b;
}

.article nav{
  background: #557fbe;
  width: 80%;
  height: 90%;
  margin: 0px auto;
  margin-top: 1rem;
}

aside {
  background: #f5fd87;
  grid-area: aside;
  border-bottom: 10px solid #07462b;
  border-top: 10px solid #07462b;
  border-right: 10px solid #07462b;

}

aside section{
  background: rgb(93, 192, 118);
  width: 90%;
  height: 90%;
  margin: 0px auto;
  margin-top: 1rem;
}
aside section #display{
  background: rgb(230, 211, 177);
  width: 75%;
  height: 60%;
  margin: 0px auto;
  margin-top: 1rem;
}

aside section #_video{
  background: rgb(156, 100, 207);
  width: 85%;
  height: 22%;
  margin: 0px auto;
  margin-top: 1rem;
  display: flex;  
  overflow: hidden;
}

aside section #_video img{
  padding: 1rem 1rem;
  width: 16%;
}

footer {
  text-align: left;
  background: #916868;
  grid-area: footer;
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 5.2fr 0.4fr;
    grid-template-areas:
      'logo'
      'header'
      'article'
      'aside'
      'footer';
  }
}
